<div class="bg-sky-100 backdrop-blur-md rounded-lg shadow-lg overflow-hidden">
    <h2 class="text-xl lg:text-2xl font-bold text-gray-900 bg-sky-200/50 px-4 py-3 sm:px-6">Current Weather</h2>
    <div class="p-4 flex items-center">
        <div class="w-1/3 flex justify-center">
            {{#if (isNotEmpty this.data.next_1_hours.details.precipitation_amount)}}
                <img class="w-24 h-24" src="/icons/{{this.data.next_1_hours.summary.symbol_code}}.png" title="{{this.data.next_1_hours.summary.symbol_code}}" />
            {{else}}
                <img class="w-24 h-24" src="/icons/{{this.data.next_6_hours.summary.symbol_code}}.png" title="{{this.data.next_6_hours.summary.symbol_code}}" />
            {{/if}}
        </div>
        <div class="w-2/3 pl-4">
            <div class="text-5xl font-bold text-gray-900">{{this.data.instant.details.air_temperature}}&deg;C</div>
            <div class="mt-2 space-y-1 text-gray-700">
                <div class="flex items-center">
                    <span class="font-semibold w-16">Rain:</span>
                    <span>
                        {{#if (isNotEmpty this.data.next_1_hours.details.precipitation_amount)}}
                            {{this.data.next_1_hours.details.precipitation_amount}}
                        {{else}}
                            0
                        {{/if}}
                        <span class="text-gray-500 text-sm">mm</span>
                    </span>
                </div>
                <div class="flex items-center">
                    <span class="font-semibold w-16">Wind:</span>
                    <span>{{toKmh this.data.instant.details.wind_speed}} <span class="text-gray-500 text-sm">km/h</span></span>
                </div>
            </div>
        </div>
    </div>
</div>
