<div class="bg-[#2B4162] backdrop-blur-md rounded-md shadow-sm overflow-hidden text-[#F5F0F6]">
    <h2 class="lg:hidden text-xl font-bold px-4 py-3 sm:px-6">{{getCurrentDayName}} {{getCurrentHours}}:{{getCurrentMinutes}}, {{getCurrentMonthName}} {{getCurrentDate}}</h2>
    <h2 class="hidden lg:block text-2xl font-bold px-4 py-3 sm:px-6">{{getCurrentHours}}:{{getCurrentMinutes}}</h2>
    <div class="px-4 pb-4 flex items-center justify-start space-x-6">
        <div>
            {{#if (isNotEmpty this.data.next_1_hours.details.precipitation_amount)}}
                <img class="w-24 h-24" src="/icons/{{this.data.next_1_hours.summary.symbol_code}}.png" title="{{this.data.next_1_hours.summary.symbol_code}}" />
            {{else}}
                <img class="w-24 h-24" src="/icons/{{this.data.next_6_hours.summary.symbol_code}}.png" title="{{this.data.next_6_hours.summary.symbol_code}}" />
            {{/if}}
        </div>
        <div>
            <div class="text-5xl font-bold">{{this.data.instant.details.air_temperature}}&deg;C</div>
        </div>
        <div>
            <div class="space-y-1">
                <div class="flex items-center">
                    <span class="font-semibold w-16">Rain:</span>
                    <span>
                        {{#if (isNotEmpty this.data.next_1_hours.details.precipitation_amount)}}
                            {{this.data.next_1_hours.details.precipitation_amount}}
                        {{else}}
                            0
                        {{/if}}
                        <span class="text-sm">mm</span>
                    </span>
                </div>
                <div class="flex items-center">
                    <span class="font-semibold w-16">Wind:</span>
                    <span>{{toKmh this.data.instant.details.wind_speed}} <span class="text-sm">km/h</span></span>
                </div>
            </div>
        </div>
    </div>
</div>
