<header class="bg-amber-400 backdrop-blur-md rounded-lg p-4 mb-6 shadow-lg text-gray-900">
    <div class="flex flex-col sm:flex-row justify-between items-center text-center sm:text-left">
        <div class="mb-3 sm:mb-0">
            <h1 class="text-xl md:text-2xl font-bold text-amber-900">{{city}}, {{countryCode}}</h1>
            <p class="text-xs md:text-sm text-amber-900">
                Lat: {{formatFloat lat}}, Lon: {{formatFloat lon}} | Last Update: {{getDate last_update}}/{{getMonth last_update}} {{getHours last_update}}:{{getMinutes last_update}}
            </p>
        </div>
        <a href="/" class="bg-amber-300 hover:bg-amber-400 text-amber-900 font-semibold py-2 px-4 rounded-md shadow-md transition duration-300">
            Search Again
        </a>
    </div>
</header>
