{{#if dates}}
    <div class="bg-gray-100 p-2">
        <div class="flex justify-between items-center">
            {{#if (isNotEmpty last_update)}}
            <div class="basis-1/5">
                <button class="bg-cyan-500 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded m-4">
                    <a href="/">home</a>
                </button>
            </div>
            <div class="basis-4/5">
                last update: {{getDate last_update}}/{{getMonth last_update}} {{getHours last_update}}:{{getMinutes last_update}}
                city: {{city}}
                country: {{countryCode}}
                lat: {{formatFloat lat}}
                lon: {{formatFloat lon}}
            </div>
            {{/if}}
        </div>
    </div>
    <div class="container mx-auto text-4xl md:max-w-4xl sm:max-w-full">
    {{#each dates}}
        <div class="m-2 p-2 bg-gradient-to-r from-cyan-500 to-blue-500 text-white rounded-lg shadow-lg">
        <p class="text-4xl font-semibold">{{@key}}</p>
        <div class="flex flex-row">
            <div class="basis-1/4 m-1">hours</div>
            <div class="basis-1/4 m-1">summary</div>
            <div class="basis-1/4 m-1">rain</div>
            <div class="basis-1/4 m-1">temp</div>
            <div class="basis-1/4 m-1">wind</div>
        </div>
        {{#each this}}
            {{#if (isNotEmpty this.data.next_1_hours.details.precipitation_amount)}}
                <div class="flex flex-row items-center">
                    <div class="basis-1/4 m-1">{{this.time}}</div>
                    <div class="basis-1/4 m-1"><img class="w-20" src="/icons/{{this.data.next_1_hours.summary.symbol_code}}.png" /></div>
                    <div class="basis-1/4 m-1">{{this.data.next_1_hours.details.precipitation_amount}}</div>
                    <div class="basis-1/4 m-1">{{this.data.instant.details.air_temperature}}</div>
                    <div class="basis-1/4 m-1">{{this.data.instant.details.wind_speed}}</div>
                </div>
            {{else}}
                <div class="flex flex-row items-center">
                    <div class="basis-1/4 m-1">{{this.time}}</div>
                    <div class="basis-1/4 m-1"><img class="w-20" src="/icons/{{this.data.next_6_hours.summary.symbol_code}}.png" /></div>
                    <div class="basis-1/4 m-1">0</div>
                    <div class="basis-1/4 m-1">{{this.data.instant.details.air_temperature}}</div>
                    <div class="basis-1/4 m-1">{{this.data.instant.details.wind_speed}}</div>
                </div>
            {{/if}}
        {{/each}}
        </div>
    {{/each}}
    </div>
{{else}}
    <div class="bg-gradient-to-br from-cyan-400 to-emerald-400 flex items-center justify-center h-screen">
        <div class="bg-white p-8 rounded-lg shadow-2xl max-w-sm w-full text-center">
            <h1 class="text-3xl font-bold mb-6 text-gray-800">Weather Forecast</h1>
            
            <div class="mb-4">
                <input id="location" type="text" class="text-lg w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter a city or address" />
            </div>
            
            <div class="mb-4">
                <button class="text-lg w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md transition duration-300" onClick="redirectByLocation()">
                    Get Weather
                </button>
            </div>

            <div class="flex items-center my-6">
                <div class="flex-grow border-t border-gray-300"></div>
                <span class="flex-shrink mx-4 text-gray-500">or</span>
                <div class="flex-grow border-t border-gray-300"></div>
            </div>

            <button class="text-lg w-full bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded-md transition duration-300 flex items-center justify-center" onclick="getCoordsAndRedirect()">
                <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                Use my current location
            </button>
        </div>
    </div>
{{/if}}
