{{#if dates}}
    <div class="bg-gray-100 p-2">
        <div class="flex justify-between items-center">
            {{#if (isNotEmpty last_update)}}
            <div class="basis-1/5">
                <button class="bg-cyan-500 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded m-4">
                    <a href="/">home</a>
                </button>
            </div>
            <div class="basis-4/5">
                last update: {{getDate last_update}}/{{getMonth last_update}} {{getHours last_update}}:{{getMinutes last_update}}
                city: {{city}}
                country: {{countryCode}}
                lat: {{formatFloat lat}}
                lon: {{formatFloat lon}}
            </div>
            {{/if}}
        </div>
    </div>
    <div class="container mx-auto text-4xl md:max-w-4xl sm:max-w-full">
    {{#each dates}}
        <div class="m-2 p-2 bg-gradient-to-r from-cyan-500 to-blue-500 text-white rounded-lg shadow-lg">
        <p class="text-4xl font-semibold">{{@key}}</p>
        <div class="flex flex-row">
            <div class="basis-1/4 m-1">hours</div>
            <div class="basis-1/4 m-1">summary</div>
            <div class="basis-1/4 m-1">rain</div>
            <div class="basis-1/4 m-1">temp</div>
            <div class="basis-1/4 m-1">wind</div>
        </div>
        {{#each this}}
            {{#if (isNotEmpty this.data.next_1_hours.details.precipitation_amount)}}
                <div class="flex flex-row items-center">
                    <div class="basis-1/4 m-1">{{this.time}}</div>
                    <div class="basis-1/4 m-1"><img class="w-20" src="/icons/{{this.data.next_1_hours.summary.symbol_code}}.png" /></div>
                    <div class="basis-1/4 m-1">{{this.data.next_1_hours.details.precipitation_amount}}</div>
                    <div class="basis-1/4 m-1">{{this.data.instant.details.air_temperature}}</div>
                    <div class="basis-1/4 m-1">{{this.data.instant.details.wind_speed}}</div>
                </div>
            {{else}}
                <div class="flex flex-row items-center">
                    <div class="basis-1/4 m-1">{{this.time}}</div>
                    <div class="basis-1/4 m-1"><img class="w-20" src="/icons/{{this.data.next_6_hours.summary.symbol_code}}.png" /></div>
                    <div class="basis-1/4 m-1">0</div>
                    <div class="basis-1/4 m-1">{{this.data.instant.details.air_temperature}}</div>
                    <div class="basis-1/4 m-1">{{this.data.instant.details.wind_speed}}</div>
                </div>
            {{/if}}
        {{/each}}
        </div>
    {{/each}}
    </div>
{{else}}
    <div class="flex items-center justify-center bg-gray-100">
        <div class="w-screen">
            <div class="mt-5 flex justify-center">
                <button class="text-2xl lg:text-lg lg:w-96 w-full bg-cyan-500 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded m-2" onclick="getCoordsAndRedirect()">
                    Get weather by gps
                </button>
            </div>
            <div class="mt-5 flex justify-center">
                <input id="location" type="text" class="text-2xl lg:text-lg lg:w-96 w-full px-4 py-2 border rounded m-2 text-center" placeholder="Type location" />
            </div>
            <div class="mb-5 flex justify-center">
                <button class="text-2xl lg:text-lg lg:w-96 w-full bg-cyan-500 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded" onClick="redirectByLocation()">
                    Submit
                </button>
            </div>
        </div>
    </div>
{{/if}}